@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://media.istockphoto.com/illustrations/beautiful-template-cardhandpainted-illustration-illustration-id508167858?k=20&m=508167858&s=612x612&w=0&h=WSjILMTUcDRAhFchcHsA0aVnokScYLZTioTobv9UJ0Y=">
    <h1 class="display-4">Welcome</h1>
    <p style="font-size:larger">You can now buy DreamCatchers of your wish!!</p>
</div>